@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  50% {transform: translate(-1px, 2px) rotate(1deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@keyframes flash {
  0% {opacity: 1; background-color: white;}
  100% {opacity: 0; background-color: transparent;}
}

@keyframes impact-shake {
  0% {transform: translate(0, 0)}
  25% {transform: translate(10px, -10px);}
  50% {transform: translate(-10px, 10px);}
  75% {transform: translate(5px, -5px);}
  100% {transform: translate(0, 0);}
}

@keyframes bgFadeIn {
  from {opacity: 0;}
  to {opacity: 0.8;}  
}

@keyframes boxPopup {
  from {opacity: 0; transform: scale(0.8);}
  to {opacity: 1; transform: scale(1);}
}

.animate-bg-fade {
  animation: bgFadeIn 1s ease-out forwards;
}

.animate-box-popup {
  animation: boxPopup 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}